@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
   font-family: 'Lato', sans-serif;
}

.bg-primary-color{
   background-color: #fff;
}

.bg-secundary-color{
   background-color: #ece8ea;
}

.bg-dark-color{
   background-color: #050505;
}

.primary-color{
   color: #050505;
}

.secundary-color{
   color: #7a7a7a;
}

/*    NAVBAR      */

#navbar{
   border-bottom: 1px solid #7a7a7a;
}

#navbar a:hover{
   color: #7a7a7a;
}

#navbar a.active{
   border-bottom: 1px solid #050505;
}

.navbar-brand{
   display: flex;
   align-items: center;
}

.navbar-brand img{
   width: 2.6rem;
}

.navbar-brand span{
   font-weight: 700;
   font-size: 1.5rem;
   margin-left: .5rem;
}

#navbar-items .navbar-nav{
   width: 100%;
   display: flex;
   justify-content: center;
}

#navbar-items .nav-item{
   margin:0 1rem;
}

/*    SLIDER      */
#slider{
   margin-top: 8rem;
   margin-bottom: 1rem;
}

#slider .carousel-caption{
   bottom: 3rem;
}

#slider .carousel-caption h5{
   font-size: 2.5rem;
   text-shadow: #000 2px 2px 10px;
}

#slider .btn{
   padding: .3rem .8rem;
   font-size: 1rem;
}

.carousel-control-prev i,
.carousel-control-next i{
   color: #111;
   font-size: 3rem;
}

.carousel-indicators [data-bs-target]{
   background-color: #222;
   opacity: .8;
}

.carousel-indicators .active{
   background-color: #000;
}

@media(min-width: 768px){
   #slider .carousel-caption{
      bottom: 15rem;
   }

   #slider .carousel-caption h5{
      font-size: 4rem;
      text-shadow: #000 2px 3px 10px;
   }

   #slider .btn{
      padding: .6rem 1.6rem;
      font-size: 1.2rem;
   }


   .carousel-indicators{
      bottom: 7rem;
   }  
}

/*    MINI-BANNERS      */
#mini-banners{
   margin-bottom: 4rem;
}

#mini-banners .card{
   height: 100%;
   padding: 2rem .3rem;
   margin-bottom: 1rem;
}

#mini-banners .row i{
   font-size: 4rem;
}

#mini-banners .card-title{
   margin-bottom: 1.5rem;
}

#mini-banners .btn{
   margin-top: 1.5rem;
   padding: .6rem 1.2rem;
}

@media(min-width: 768px){
   #mini-banners {
      margin-top: -6rem
   }
}

/*    FEATURED      */
#feautred-container {
   margin-bottom: 4rem;
}

.title{
   font-size: 1.74rem;
   margin-bottom: .4rem;
   position: relative;
}

#featured-imgs{
   margin: 2rem 0;
}

#featured-imgs .col-md-4{
   position: relative;
   cursor: pointer;
}

#featured-imgs .col-md-4:hover > .banner-content{
   opacity: .8;
}

#featured-imgs .banner-content{
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-color: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   opacity: .6;
   transition: .5s;
}

@media(min-width: 768px){
   .title{
      font-size: 2.4rem;
   }

   #featured-imgs .banner-content{
      opacity: 0;
   }

   #featured-imgs .col-12 img{
      height: 100%;
   }
}

/*    INFO      */
#info-content{
   margin-bottom: 4rem;
   padding: 4rem 1rem;
}

#info-numbers{
   margin: 1.5rem 0;
}

#info-banner{
   display: flex;
   align-items: center;
   margin-bottom: 2.5rem;
}

#info-numbers h3{
   font-size: 3rem;
}

@media(min-width: 768px){
   #info-content{
      padding: 3.5rem;
   }
}

/*    FOOTER TOP      */
#footer{
   padding: 3rem 2rem;
}

#footer-top{
   margin-bottom: 2rem;
   color: #fff;
}

#social-icons{
   text-align: right;
}

#social-icons i{
   font-size: 1.5rem;
   margin-left: 1rem;
   cursor: pointer;
   transition: color .2s;
}

#social-icons i:hover{
   color: #7a7a7a;
}

/*    FOOTER DETAILS      */
#footer-details{
   margin-bottom: 3rem;
}

#footer-details h4{
   color: #fff;
   margin-bottom: 1.5rem;
}

#news-container,
#contact-container,
#links-container {
   padding: 0;
   border: 0;
   margin-bottom: 2rem;
}

#news-container input{
   border: none;
}

#links-container li{
   margin-bottom: .5rem;
}

/*    FOOTER BOTTOM      */
#footer-bottom{
   border-top: 1px solid #7a7a7a;
}

#footer-bottom p{
   margin-top: 1rem;
}

#footer-bottom p strong{
   color: #fff;
}

#my-socials i{
   color: #fff;
   font-size: 1.8rem;
   margin-right: 1rem;
}

@media(min-width: 768px){
   #news-container{
      padding-right: 2rem;
   }

   #links-container{
      padding-left: 2rem;
   }

   #contact-container{
      padding: 0 2rem;
      border-left: 1px solid #7a7a7a;
      border-right: 1px solid #7a7a7a;
   }
}